@page
@model SearchModel

<form method="post" id="search-input-form">
    <partial name="SearchInput" />

    @if (Model.SearchResults != null || Model.SearchResultsSummary != null)
    {
        @if (Model.HasMultipleConsumerOdsCodes || Model.HasMultipleProviderOdsCodes)
        {
            <partial name="SearchResultsSummary"/>
        }
        else if (!Model.HasMultipleConsumerOdsCodes && !Model.HasMultipleProviderOdsCodes)
        {
            <partial name="SearchResults"/>
        }
        <partial name="SearchStats"/>
    }
</form>