@using gpconnect_appointment_checker.Helpers.Constants
@using gpconnect_appointment_checker.Helpers

@if (Model.SearchResultsTotalCount > 0)
{
    <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information: </span>
        @Html.Raw(StringExtensions.Pluraliser(SearchConstants.SEARCHSTATSCOUNTTEXT, Model.SearchResultsCurrentCount, "<div class=\"nhsuk-hint\">", "</div>"))
        @Html.Raw(StringExtensions.Pluraliser(SearchConstants.SEARCHSTATSPASTCOUNTTEXT, Model.SearchResultsPastCount, "<div class=\"nhsuk-hint\">", "</div>"))
    </div>
}