<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">
    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>
    <targets>
        <target name="console" xsi:type="Console">
            <layout xsi:type="JsonLayout" includeEventProperties="false">
                    <attribute name="time" layout="${longdate:universalTime=true}" />
                    <attribute name="application" layout="${configsetting:item=ApplicationName}" />
                    <attribute name="logger" layout="${logger}"/>
                    <attribute name="level" layout="${level:upperCase=true}"/>
                    <attribute name="message" layout="${message}" />
                    <attribute name="path" layout="${aspnet-request-url:IncludeHost=false:IncludePort=false:IncludeQueryString=true:IncludeScheme=false}" />
                    <attribute name="exception" layout="${exception:format=tostring}" />
                    <attribute name="properties" encode="false">
                        <layout xsi:type="JsonLayout" includeEventProperties="true" >
                        </layout>
                    </attribute>
                    <attribute name="traceId" layout="${aspnet-TraceIdentifier}"/>
            </layout>
        </target>
    </targets>
    <rules>
        <logger name="*" minlevel="Information" writeTo="console" />
    </rules>
</nlog>