@if (!Model.MultiSearchEnabled)
{
    <p>Press the 'Search for free slots' button to run the search.</p>
}
else
{
    <p>Press the 'Search for free slots' button to run the search. A summary showing the number of slots found for each combination of provider and supplier will then be displayed. Click on the 'Details' button to see the slot details for this combination.</p>
}
<p>Click on the 'Export results' button to export to an Excel spreadsheet.</p>