@page
@model HelpModel
@addTagHelper *, gpconnect-appointment-checker

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <h1>Appointment Checker Help</h1>
        <partial name="SigningIn" />
        <partial name="Using" />
        <partial name="Wrong" />
        <partial name="Further" />
    </div>
</div>