<h3>Multiple Search version</h3>
<p>If you have been given access, you will also be able to search for slots for multiple ODS codes, meaning you can see the results much more quickly.</p>
<p><strong>To run a Multiple ODS Code search</strong>, enter:</p>
<p>EITHER up to @Model.MaxNumberProviderCodesSearch provider ODS codes and one consumer ODS code,</p>
<p>OR one provider ODS code and up to @Model.MaxNumberConsumerCodesSearch consumer ODS codes.</p>
<p>When entering multiple codes, each one should be separated by a space or a comma.</p>
<div class="nhsuk-do-dont-list">
    <h3 class="nhsuk-do-dont-list__label">If you have permission to search by organisation type</h3>
    <ul class="nhsuk-list">
        <li>A consumer organisation type may also be selected from the drop-down list. Select an organisation type to return only slots which have been restricted to this type of consumer, or which have not been restricted by type of consumer. Leave the field blank to return slots which have not been restricted by the provider to any type or consumer.</li>
        <li>Either at least one consumer ODS code must be entered or an organisation type must be selected, or both.</li>
    </ul>
</div>
<p>The <strong>date range</strong> works exactly as it does in the standard version (see above).</p>
<p>Press the 'Search for free slots' button to run the search. A summary showing the number of slots found for each combination of provider and supplier will then be displayed. Click on the 'Details' button to see the slot details for this combination.</p>
<p>Click on the 'Export results' button to export the summaries to an Excel spreadsheet.</p>