<h2>Signing In</h2>
<p>The first time that you use the Appointment Checker, you will need to be authorised. Follow the instructions on the screen.</p>
<p>Once you have received notification via email that you have been authorised, sign in using your &#64;nhs.net email address and password.</p>

<h2>What does the Appointment Checker do?</h2>
<p>The Appointment Checker shows you appointments which have been set up in a specified healthcare setting (Provider) and are available to be booked by another service (Consumer) using GP Connect. Once a search has been made, it will display any slots which have been set up correctly. Those that have been set up incorrectly will not be displayed and further investigation will be required to understand why they are configured incorrectly.</p>
<p>The 'Provider' setting can be a GP Practice or any other setting which has a GP Foundation system installed and is enabled for GP Connect.</p>
<p>The 'Consumer' setting can be any organisation with an ODS code.</p>