<h2>Using the Appointment Checker</h2>
<p><strong>Provider ODS code:</strong> enter the ODS code of the service whose appointment configuration you want to check.</p>
<p><strong>Consumer ODS code:</strong> enter the ODS code of a service which will be looking for free slots at the Provider.</p>
<p><strong>Date range:</strong> select a week (Monday – Sunday) from the drop-down list, that you want to run the search for. Although the date range always starts on a Monday, because the Search for Free Slots only looks for future slots (today or later in the week), any slots which are in the past will not be included in the search. For example, if you run the checker on Friday, only slots for Friday (after the current time), Saturday and Sunday will be included.</p>
<p>Press the 'Search for free slots' button to run the search.</p>