<h2>Using the Appointment Checker</h2>
<h3>Standard Version</h3>
<h3>Search at</h3>
<p><strong>Provider ODS code:</strong> enter the ODS code of the service whose appointment configuration you want to check.</p>
<h3>Search on behalf of</h3>
<p><strong>Consumer ODS code:</strong> enter the ODS code of a service which will be looking for free slots at the Provider. This may be left blank if a Consumer organisation type (see below) is selected.</p>
<p><strong>Consumer organisation type:</strong> select an organisation type from the drop-down list, to return slots which have been restricted to this type of consumer, or which have not been restricted by type of consumer.  Leave the field blank to return slots which have not been restricted by the provider to any type or consumer. In this case, a consumer ODS code must be entered.</p>
<p>Either a consumer ODS code must be entered or an organisation type must be selected, or both.</p>
<p><strong>Date range:</strong> select a week (Monday – Sunday) from the drop-down list, that you want to run the search for.</p>
<p>Depending on the system in use at the Provider service, the results of the search may include free slots which are in the past. In this case, these slots will be visible by clicking on the 'Past Appointment Slots' expander.</p>
<p>Otherwise, only free slots in the future (after the current date and current time) will be included. For example, if you run the checker on Friday, only slots for Friday (after the current time), Saturday and Sunday will be included.</p>
<p>Press the 'Search for free slots' button to run the search.</p>
<p>Click on the green 'Export results' button to export to an Excel spreadsheet.</p>
<h3>Multiple Search version</h3>
<p>If you have been given access, you will also be able to search for slots for multiple ODS codes, meaning you can see the results much more quickly.</p>
<p><strong>To run a Multiple ODS Code search</strong>, enter:</p>
<p>EITHER up to @Model.MaxNumberProviderCodesSearch provider ODS codes and one consumer ODS code,</p>
<p>OR one provider ODS code and up to @Model.MaxNumberConsumerCodesSearch consumer ODS codes.</p>
<p>When entering multiple codes, each one should be separated by a space or a comma.</p>
<p>In each case a consumer organisation type may also be selected from the drop-down list. Select an organisation type to return only slots which have been restricted to this type of consumer, or which have not been restricted by type of consumer. Leave the field blank to return slots which have not been restricted by the provider to any type or consumer.</p>
<p>Either at least one consumer ODS code must be entered or an organisation type must be selected, or both.</p>
<p>The <strong>date range</strong> works exactly as it does in the standard version (see above).</p>
<p>Press the 'Search for free slots' button to run the search. A summary showing the number of slots found for each combination of provider and supplier will then be displayed. Click on the 'Details' button to see the slot details for this combination.</p>
<p>Click on the 'Export results' button to export the summaries to an Excel spreadsheet.</p>