@page
@using gpconnect_appointment_checker.Helpers.Constants
@addTagHelper *, gpconnect-appointment-checker

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <div class="nhsuk-warning-callout">
            <h3 class="nhsuk-warning-callout__label">@SearchConstants.RequestSubmittedLabel</h3>
            <p>
                @if (TempData["EmailSent"] as bool? == false)
                {
                    @Html.Raw(string.Format(SearchConstants.RequestSubmittedErrorText, TempData["EmailAddressManual"]))
                }
                else
                {
                    @SearchConstants.RequestSubmittedText
                }
            </p>
        </div>
    </div>
</div>