@page
@using gpconnect_appointment_checker.Helpers.Constants
@model PendingAccountModel
@addTagHelper *, gpconnect-appointment-checker

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <div class="nhsuk-warning-callout">
            <h3 class="nhsuk-warning-callout__label">@Html.Raw(SearchConstants.Accesslabel)</h3>
            <p>@Html.Raw(SearchConstants.Pendingaccounttext)</p>            
        </div>
    </div>
</div>