@page
@using gpconnect_appointment_checker.Helpers.Constants
@model SubmitUserFormModel
@addTagHelper *, gpconnect-appointment-checker

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <div class="nhsuk-warning-callout">
            <h3 class="nhsuk-warning-callout__label">@SearchConstants.SubmitUserFormLabel</h3>
            <p>@SearchConstants.SubmitUserFormText</p>
            <a class="nhsuk-button" href="/CreateAccount">@SearchConstants.ContinueButtonText</a>
        </div>
    </div>
</div>