@page
@using gpconnect_appointment_checker.Helpers.Constants
@model CreateAccountInterstitialModel
@addTagHelper *, gpconnect-appointment-checker

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <div class="nhsuk-warning-callout">
            <h3 class="nhsuk-warning-callout__label">@SearchConstants.CREATEACCOUNTINTERSTITIALLABEL</h3>
            @Html.Raw(SearchConstants.CREATEACCOUNTINTERSTITIALTEXT)
            <a class="nhsuk-button" href="/Auth/Register">@SearchConstants.CONTINUEBUTTONTEXT</a>
            <p>@Html.Raw(string.Format(SearchConstants.CREATEACCOUNTINTERSTITIALALTTEXT, "/"))</p>
        </div>
    </div>
</div>