@page
@using gpconnect_appointment_checker.Helpers.Constants
@addTagHelper *, gpconnect-appointment-checker

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <div class="nhsuk-warning-callout">
            <h3 class="nhsuk-warning-callout__label">@SearchConstants.REQUESTSUBMITTEDLABEL</h3>
            <p>@SearchConstants.REQUESTSUBMITTEDTEXT</p>
            @*<a class="nhsuk-button" href="/CreateAccount" draggable="false">@SearchConstants.CREATEACCOUNTBUTTONTEXT</a>*@
        </div>
    </div>
</div>