@page
@using gpconnect_appointment_checker.Helpers.Constants
@model AccessDeniedModel
@addTagHelper *, gpconnect-appointment-checker

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsuk-warning-callout">
            <h3 class="nhsuk-warning-callout__label">@SearchConstants.AccessLabel</h3>
            <p>@Html.Raw(string.Format(SearchConstants.AccessText, Model.GetAccessEmailAddress))</p>
            <p>@Html.Raw(string.Format(SearchConstants.AccessGrantedText, "/"))</p>
        </div>
    </div>
</div>