@page
@addTagHelper *, gpconnect-appointment-checker
@{
    ViewData["Title"] = "GP Connect Appointment Checker";
}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsuk-warning-callout">
            <h3 class="nhsuk-warning-callout__label">Access to GP Connect Appointment Checker</h3>
            <p>You must be authorised to use this application. Please contact <a href="mailto:gpconnect@nhs.net">gpconnect@nhs.net</a> to request access.</p>
        </div>
    </div>
</div>