@page
@model gpconnect_appointment_checker.Pages.AuthModel
@addTagHelper *, gpconnect-appointment-checker
@{
    ViewData["Title"] = "GP Connect Appointment Checker";
}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsuk-warning-callout">
            <h3 class="nhsuk-warning-callout__label">Welcome to GP Connect Appointment Checker</h3>
            <p>This is a foundation page to verify the logged in user.</p>
        </div>
    </div>
</div>