@page
@addTagHelper *, gpconnect-appointment-checker
@{
    ViewData["Title"] = "GP Connect Appointment Checker";
}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <h1>Cookie Policy</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet ullamcorper metus. Nunc aliquet, lacus eget viverra feugiat, nisl sem cursus nisl, in euismod leo justo vel lacus. Aenean vel risus id libero condimentum ultricies. Donec vitae faucibus ante. Curabitur iaculis vel diam eget accumsan. Nam blandit ac risus vitae tincidunt. Sed vel ipsum venenatis, laoreet ipsum id, viverra dolor. Nunc mollis massa interdum enim imperdiet cursus. Nullam sollicitudin, tellus at semper varius, turpis justo suscipit enim, a aliquam dolor quam nec diam. Praesent semper venenatis urna, eget ullamcorper risus aliquam id.</p>
        <p>Vestibulum elementum diam nec velit dictum hendrerit. Vestibulum eu placerat dolor. Cras convallis faucibus massa eu aliquet. Nunc diam sem, faucibus ac imperdiet eget, placerat in purus. In hac habitasse platea dictumst. Nulla in metus vel erat pretium iaculis. Vestibulum volutpat imperdiet neque sit amet iaculis.</p>
    </div>
</div>