@page
@model HelpModel
@addTagHelper *, gpconnect-appointment-checker
@{
    ViewData["Title"] = "GP Connect Appointment Checker";
}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <h1>Appointment Checker Help</h1>
        <h2>Signing In</h2>
        <p>The first time that you use the Appointment Checker, you will need to be authorised. Follow the instructions on the screen.</p>
        <p>Once you have received notification via email that you have been authorised, sign in using your &#64;nhs.net email address and password.</p>
        <p>If you have problems signing in, email <a href="mailto:@Html.Raw(Model.GetAccessEmailAddress)">@Model.GetAccessEmailAddress</a></p>

        <h2>What does the Appointment Checker do?</h2>
        <p>The Appointment Checker shows you appointments which have been set up in a specified healthcare setting (Provider) and are available to be booked by another service (Consumer) using GP Connect. Once a search has been made, it will display any slots which have been set up correctly. Those that have been set up incorrectly will not be displayed and further investigation will be required to understand why they are configured incorrectly.</p>
        <p>The 'Provider' setting can be a GP Practice or any other setting which has a GP Foundation system installed and is enabled for GP Connect.</p>
        <p>The 'Consumer' setting can be any organisation with an ODS code.</p>

        <h2>Using the Appointment Checker</h2>
        <p><strong>Provider ODS code:</strong> enter the ODS code of the service whose appointment configuration you want to check.</p>
        <p><strong>Consumer ODS code:</strong> enter the ODS code of a service which will be looking for free slots at the Provider.</p>
        <p><strong>Date range:</strong> select a week (Monday – Sunday) from the drop-down list, that you want to run the search for. Although the date range always starts on a Monday, because the Search for Free Slots only looks for future slots (today or later in the week), any slots which are in the past will not be included in the search. For example, if you run the checker on Friday, only slots for Friday (after the current time), Saturday and Sunday will be included.</p>
        <p>Press the 'Search for free slots' button to run the search.</p>

        <h2>I can’t see any appointments, what’s wrong?</h2>
        <p>There are several reasons why the search has brought back zero results:</p>
        <ul>
            <li>The Provider system is not set up as a GP Connect enabled practice or hub.</li>
            <li>The Provider system is not enabled for GP Connect Appointments</li>
            <li>The slots for the date range you have selected are all before the current date and time (for example, if you are checking for the current week at 16:00 on Friday). Try checking for a later week (date range).</li>
            <li>The GP Connect-bookable slots have all been booked (none are free)</li>
            <li>The Practitioner who is associated with the GP Connect slots has not been assigned a GP Connect Role</li>
            <li>The practice has restricted the slots so they are visible only to certain Consumers, not including the one you have used for the search. Try checking with another Consumer.</li>
        </ul>
        <p>If no slots are being returned, please contact your GP Connect Implementation & Business Change Lead for further assistance.</p>

        <h2>Further Help</h2>
        <p>If you are experiencing an issue with the Appointment Checker, please contact the National Service Desk on 0300 303 5035 or <a href="mailto:ssd.nationalservicedesk@nhs.net">ssd.nationalservicedesk@nhs.net</a></p>
    </div>
</div>