@page
@addTagHelper *, gpconnect-appointment-checker
@{
    ViewData["Title"] = "GP Connect Appointment Checker";
}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsuk-warning-callout">
            <h3 class="nhsuk-warning-callout__label">Access to GP Connect Appointment Checker</h3>
            <p>This application is restricted to registered users of the NHS. You need to sign in to use it.</p>
        </div>
    </div>
</div>