@page
@using gpconnect_appointment_checker.Helpers
@model LoginModel
@using gpconnect_appointment_checker.Helpers.Constants

@if (User.Identity.IsAuthenticated)
{
    <div style="color: #ffffff; font-style: italic">
        @User.GetClaimValue("Email")
    </div>
    @Html.ActionLink(@SearchConstants.SIGNOUTBUTTONTEXT, "Signout", "Auth", null, new { @style = "color:#ffffff" })
}
