@page
@using gpconnect_appointment_checker.Helpers.Constants
@model NotRegisteredModel
@addTagHelper *, gpconnect-appointment-checker

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <div class="nhsuk-warning-callout">
            <h3 class="nhsuk-warning-callout__label">@SearchConstants.ACCESSLABEL</h3>
            <p>@SearchConstants.NOTREGISTEREDTEXT</p>
            <p>@Html.Raw(string.Format(SearchConstants.NOTREGISTEREDLINKTEXT, "/CreateAccount"))</p>
        </div>
    </div>
</div>