@page
@model AdminModel

<form method="post" id="search-input-form">
    <div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <h1>Appointment Checker Administration</h1>
            </div>
        </div>
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-two-thirds">
                <div class="nhsuk-expander-group">
                    <details class="nhsuk-details nhsuk-expander">
                        <summary class="nhsuk-details__summary">
                            <span class="nhsuk-details__summary-text">
                                Add Users
                            </span>
                        </summary>
                        <div class="nhsuk-details__text">
                            <p>Functionality to add a user</p>
                        </div>
                    </details>
                    <details class="nhsuk-details nhsuk-expander">
                        <summary class="nhsuk-details__summary">
                            <span class="nhsuk-details__summary-text">
                                Manage Users
                            </span>
                        </summary>
                        <div class="nhsuk-details__text">
                            <p>Functionality to manage existing users</p>
                        </div>
                    </details>
                </div>
            </div>
        </div>
    </main>
    </div>
</form>