@page
@using gpconnect_appointment_checker.Helpers.Constants
@model SearchModel

<form method="post" id="search-input-form">
    <partial name="SearchInput" />

    @if (!Model.IsMultiSearch)
    {
        @if (Model.SearchResultsCurrent != null || Model.SearchResultsPast != null)
        {
            @if (!Model.ConsumerEnabledForGpConnectAppointmentManagement)
            {
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">
                        <div class="nhsuk-warning-callout">
                            <h3 class="nhsuk-warning-callout__label">@SearchConstants.ISSUEWITHGPCONNECTCONSUMERLABEL</h3>
                            <p>@string.Format(SearchConstants.ISSUEWITHGPCONNECTCONSUMERNOTENABLEDTEXT, Model.ConsumerOdsCode)</p>
                        </div>
                    </div>
                </div>
            }
            <partial name="SearchResults" />
            <partial name="SearchNav" />
        }
        else
        {
            <partial name="CodeErrorSingle" />
        }
    }
    else
    {
        @if (Model.SearchResultsSummary != null)
        {
            <partial name="SearchResultsSummary" />
            <partial name="SearchNav" />
        }
    }
</form>