@using gpconnect_appointment_checker.Helpers.Constants
@using gpconnect_appointment_checker.Helpers

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <div class="nhsuk-inset-text">
            <span class="nhsuk-u-visually-hidden">Information: </span>
            <p>@Model.SearchStats</p>
        </div>
    </div>
</div>