@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <vc:search-form
        clear-button-text="Clear"
        consumer-ods-codes=""
        provider-ods-codes=""
        search-button-text="Search for free slots">
    </vc:search-form>
</div>
