@page
@model SearchModel

<form method="post">
    <partial name="SearchInput" />
    @if (Model.SearchResults != null)
    {
        <partial name="SearchResults" />
        <partial name="SearchStats" />
    }
    else
    {
        <partial name="CodeError" />
    }
</form>