<h3>Search at</h3>
<p><strong>Provider ODS code:</strong> enter the ODS code of the service whose appointment configuration you want to check.</p>
<h3>Search on behalf of</h3>

@if (!Model.OrgTypeSearchEnabled)
{
    <p><strong>Consumer ODS code:</strong> enter the ODS code of a service which will be looking for free slots at the Provider.</p>
}
else
{
    <p><strong>Consumer ODS code:</strong> enter the ODS code of a service which will be looking for free slots at the Provider. This may be left blank if a Consumer organisation type (see below) is selected.</p>
    <p><strong>Consumer organisation type:</strong> select an organisation type from the drop-down list, to return slots which have been restricted to this type of consumer, or which have not been restricted by type of consumer. Leave the field blank to return slots which have not been restricted by the provider to any type or consumer. In this case, a consumer ODS code must be entered.</p>
    <p>Either a consumer ODS code must be entered or an organisation type must be selected, or both.</p>
}

<partial name="Public/Help/DateRange" />