<h2>Troubleshooting Error Messages</h2>
<div class="nhsuk-expander-group">
    <details class="nhsuk-details nhsuk-expander">
        <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">PARTYKEY_INTERACTION_CHECK_FAILED_MESSAGERECEIVER</span>
        </summary>
        <div class="nhsuk-details__text"><p><b>Reason: </b>The practice specified by the Provider ODS code you have entered has not been set up correctly in Spine Directory Service (SDS)</p></div>
        <div class="nhsuk-details__text"><p><b>Solution: </b>Contact the GP Connect team at @Html.Raw(Model.GetAccessEmailAddressLink), including the error message details in your email</p></div>
    </details>
    <details class="nhsuk-details nhsuk-expander">
        <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">Access denied (ACCESS_DENIED)<br />Recipient organisation is not enabled for interaction ID</span>
        </summary>
        <div class="nhsuk-details__text"><p><b>Reason: </b>GP Connect (or specifically GP Connect Appointments) is disabled at the practice</p></div>
        <div class="nhsuk-details__text"><p><b>Solution: </b>The practice can re-enable this within the GP system</p></div>
    </details>
    <details class="nhsuk-details nhsuk-expander">
        <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">Access has been denied to process this request (ACCESS DENIED)<br />Service type disabled</span>
        </summary>
        <div class="nhsuk-details__text"><p><b>Reason: </b>GP Connect Appointment Booking has been disabled at the practice</p></div>
        <div class="nhsuk-details__text"><p><b>Solution: </b>The practice can re-enable this within the GP system</p></div>
    </details>
    <details class="nhsuk-details nhsuk-expander">
        <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">Access has been denied to process this request (ACCESS DENIED)<br />GP Connect not enabled</span>
        </summary>
        <div class="nhsuk-details__text"><p><b>Reason: </b>GP Connect has been disabled at the practice</p></div>
        <div class="nhsuk-details__text"><p><b>Solution: </b>The practice can re-enable this within the GP system</p></div>
    </details>
</div>