name: Publish to docker hub (manual)

on:
  workflow_dispatch:
  
jobs:
  push_to_registry:
    name: Build and push to docker hub
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
      - name: Push application image to docker hub
        uses: docker/build-push-action@v1
        with:
          path: source
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
          repository: nhsgpconnect/gpconnect-appointment-checker-application
          tag_with_ref: true
      - name: Push database image to docker hub
        uses: docker/build-push-action@v1
        with:
          path: database
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
          repository: nhsgpconnect/gpconnect-appointment-checker-dbpatcher
          tag_with_ref: true
